<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">	
  <title>Bhramanvedh</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<h1><a href="”#”">Coming soon ...</a></h1>
	<div class="container">
	    <div class="navbar">
	              <div class="navbar-inner">	              
	                  <ul class="nav">
	                    <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path%></li>
	                    <li><a href="#">Agricultural Tours</a></li>
	                    <li><a href="#">Educational Tours</a></li>
	                    <li><a href="#">Domestic Tours</a></li>
						<li><a href="http://www.bhramanvedh.blogspot.com" target="_blank">Blog</a></li>
	                    <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About Us", about_path%></li>
						<li class="<%= 'active' if current_page?(terms_path) %>"><%= link_to "T&C", terms_path%></li>
						
	                    <li class="<%= 'active' if current_page?(new_contact_path) %>"><%= link_to "Contact", new_contact_path%></li>
	                  </ul>	             
	              </div>
	     </div>
	</div>		
<%= yield %>
</div>
<hr>
<div class="footer">
<p class="text-center">&copy; 2013</p>
</div>
</body>
</html>
