<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">	
  <title>Bhramanvedh</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<h1><a href="”#”">Coming soon ...</a></h1>
	<div class="container">
	    <div class="navbar">
	              <div class="navbar-inner">	              
	                  <ul class="nav">
	                    <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path%></li>
	                    <li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						        <i class="icon-th-large"></i> Adventure Tours
						        <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						        <li><a href="#">River Rafting</a></li>
						        <li><a href="#">Camping</a></li>
						        <li><a href="#">Wild Life Safaris</a></li>
						    </ul>
						</li>
	                    
						<li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						        <i class="icon-th-large"></i> Special Tours
						        <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						        <li><a href="#">Women's Special</a></li>
						        <li><a href="#">Senior Citizen's Special</a></li>
						        <li><a href="#">Students Special</a></li>
						        <li><a href="#">Family Special</a></li>
						    </ul>
						</li>	
						<li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						        <i class="icon-th-large"></i> Other Tours
						        <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						        <li><a href="#">Heritage & Cultural</a></li>
						        <li><a href="#">Pilgrims</a></li>
						        <li><a href="#">Social</a></li>
						        <li><a href="#">Science & Industry </a></li>
						        <li><a href="#">Agricultural</a></li>
						    </ul>
						</li>
						<li><a href="http://www.bhramanvedh.blogspot.com" target="_blank">Blog</a></li>
						<li class="<%= 'active' if current_page?(gallery_path) %>"><%= link_to "Gallery", gallery_path%></li>
	                    <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About Us", about_path%></li>
						<li class="<%= 'active' if current_page?(terms_path) %>"><%= link_to "T&C", terms_path%></li>
						
	                    <li class="<%= 'active' if current_page?(new_contact_path) %>"><%= link_to "Contact", new_contact_path%></li>
	                  </ul>	             
	              </div>
	     </div>
	</div>		
<%= yield %>
</div>
<hr>
<div class="footer">
<p class="text-center">Copyright &copy; 2013. All Rights Reserved.</p>
</div>
</body>
</html>
